[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
Actions=FolderFromSelected;FolderFromSelectedFast;
X-KDE-AuthorizeAction=shell_access
X-KDE-Priority=TopLevel

[Desktop Action FolderFromSelected]
Name=Nova pasta para seleção
Icon=Thunar
Exec=/usr/bin/python3 /home/luiz/HD/posinstall/repos/folderfromselected/folderfromselected.py -g %F

[Desktop Action FolderFromSelectedFast]
Name=Nova pasta para seleção (rapido)
Icon=Thunar
Exec=/usr/bin/python3 /home/luiz/HD/posinstall/repos/folderfromselected/folderfromselected.py -c %F